<div
  id="crud-modal"
  [hidden]="isModalVisible"
  tabindex="-1"
  aria-hidden="true"
  class="flex items-center justify-center fixed top-0 right-0 bottom-0 left-0 z-50 w-full h-full backdrop-blur-md"
>
  <div class="relative p-4 w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
      >
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Update Car
        </h3>
        <button
          (click)="toggleModal()"
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-toggle="crud-modal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form class="p-4 md:p-5" [formGroup]="form" (ngSubmit)="updateCar()">
        <div class="flex flex-col gap-4">
          <div class="w-full">
            <p>Make</p>
            <input
              [ngClass]="{
                error:
                  form.controls['make'].invalid && form.controls['make'].touched
              }"
              class="w-full p-2 outline-none rounded-md border boder-slate-200"
              type="text"
              name="make"
              formControlName="make"
            />
            <p
              *ngIf="
                form.controls['make'].invalid && form.controls['make'].touched
              "
              class="font-semibold text-xs italic text-red-500"
            >
              Field required.
            </p>
          </div>
          <div class="w-full">
            <p>Description</p>
            <input
              [ngClass]="{
                error:
                  form.controls['description'].invalid &&
                  form.controls['description'].touched
              }"
              class="w-full p-2 outline-none rounded-md border boder-slate-200"
              type="text"
              name="description"
              formControlName="description"
            />
            <p
              *ngIf="
                form.controls['description'].invalid &&
                form.controls['description'].touched
              "
              class="font-semibold text-xs italic text-red-500"
            >
              Field required.
            </p>
          </div>
          <div class="w-full">
            <p>Model</p>
            <input
              [ngClass]="{
                error:
                  form.controls['model'].invalid &&
                  form.controls['model'].touched
              }"
              class="w-full p-2 outline-none rounded-md border boder-slate-200"
              type="text"
              name="model"
              formControlName="model"
            />
            <p
              *ngIf="
                form.controls['model'].invalid && form.controls['model'].touched
              "
              class="font-semibold text-xs italic text-red-500"
            >
              Field required.
            </p>
          </div>
          <div class="w-full">
            <p>Year</p>
            <input
              [ngClass]="{
                error:
                  form.controls['year'].invalid && form.controls['year'].touched
              }"
              class="w-full p-2 outline-none rounded-md border boder-slate-200"
              type="number"
              name="year"
              formControlName="year"
            />
            <p
              *ngIf="
                form.controls['year'].invalid && form.controls['year'].touched
              "
              class="font-semibold text-xs italic text-red-500"
            >
              Field required.
            </p>
          </div>
          <div class="w-full">
            <p>Price</p>
            <input
              [ngClass]="{
                error:
                  form.controls['price'].invalid &&
                  form.controls['price'].touched
              }"
              class="w-full p-2 outline-none rounded-md border boder-slate-200"
              type="number"
              name="price"
              formControlName="price"
            />
            <p
              *ngIf="
                form.controls['price'].invalid && form.controls['price'].touched
              "
              class="font-semibold text-xs italic text-red-500"
            >
              Field required.
            </p>
          </div>
        </div>
        <br />
        <button
          type="submit"
          [disabled]="form.invalid"
          class="text-white flex items-center justify-center w-40 disabled:bg-blue-200 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          <span *ngIf="is_loading; else default"
            ><ng-container *ngTemplateOutlet="spinner"></ng-container
          ></span>
        </button>
      </form>
    </div>
  </div>
</div>

<ng-template #spinner>
  <app-spinner [spinner_height]="16" [spinner_width]="16"></app-spinner>
</ng-template>

<ng-template #default>
  <span>Update Car &nbsp; <fa-icon [icon]="update"></fa-icon></span>
</ng-template>
