<div class="flex w-full h-screen text-slate-600">
  <div class="bg-lime-200 p-4 hidden md:w-full md:h-full md:block">
    <p class="text-lime-700 font-mono text-4xl">JIT App Registration</p>
  </div>
  <div class="w-full h-full">
    <div class="mr-4 mt-4">
      <p
        routerLink="/login"
        class="flex w-full justify-end items-center cursor-pointer hover:text-lime-500"
      >
        Already have an acount? Login.
      </p>
    </div>

    <form
      [formGroup]="form"
      (ngSubmit)="signup()"
      class="w-full flex flex-col justify-center items-center p-2"
    >
      <app-toast
        *ngIf="success"
        toastMessage="Successfully registered"
        status="success"
      ></app-toast>
      <div
        class="flex text-slate-600 flex-col gap-4 p-4 md:max-w-sm justify-center items-center mt-40 w-full"
      >
        <p class="font-semibold text-md text-red-500 italic">
          {{ error_message }}
        </p>

        <div class="w-full flex flex-col justify-center">
          <p>First Name</p>
          <input
            [ngClass]="{
              error:
                form.controls['firstName'].invalid &&
                form.controls['firstName'].touched
            }"
            class="border border-s-slate-300 rounded-md p-2 w-full md:max-w-sm"
            type="text"
            name="firstName"
            formControlName="firstName"
          />
          <p
            *ngIf="
              form.controls['firstName'].invalid &&
              form.controls['firstName'].touched
            "
            class="font-semibold text-xs italic text-red-500"
          >
            Field required.
          </p>
        </div>

        <div class="w-full">
          <p>Last Name</p>
          <input
            [ngClass]="{
              error:
                form.controls['lastName'].invalid &&
                form.controls['lastName'].touched
            }"
            class="border border-s-slate-300 rounded-md p-2 w-full"
            type="text"
            name="lastName"
            formControlName="lastName"
          />
          <p
            *ngIf="
              form.controls['lastName'].invalid &&
              form.controls['lastName'].touched
            "
            class="font-semibold text-xs italic text-red-500"
          >
            Field required.
          </p>
        </div>
        <div class="w-full">
          <p>Email</p>
          <input
            [ngClass]="{
              error:
                form.controls['email'].invalid && form.controls['email'].touched
            }"
            class="border border-s-slate-300 rounded-md p-2 w-full"
            type="email"
            name="email"
            formControlName="email"
          />
          <p
            *ngIf="
              form.controls['email'].invalid && form.controls['email'].touched
            "
            class="font-semibold text-xs italic text-red-500"
          >
            Field required and must be a valid email.
          </p>
        </div>
        <div class="w-full">
          <p>Password</p>
          <input
            [ngClass]="{
              error:
                form.controls['password'].invalid &&
                form.controls['password'].touched
            }"
            class="border border-s-slate-300 rounded-md p-2 w-full"
            type="password"
            name="password"
            formControlName="password"
          />
          <p
            *ngIf="
              form.controls['password'].invalid &&
              form.controls['password'].touched
            "
            class="font-semibold text-xs italic text-red-500"
          >
            Field required.
          </p>
        </div>
        <div class="w-full">
          <p>Confirm Password</p>
          <input
            [ngClass]="{
              error:
                form.controls['confirmPassword'].invalid &&
                form.controls['confirmPassword'].touched
            }"
            class="border border-s-slate-300 rounded-md p-2 w-full"
            type="password"
            name="confirmPassword"
            formControlName="confirmPassword"
          />
          <p
            *ngIf="
              form.controls['confirmPassword'].invalid &&
              form.controls['confirmPassword'].touched
            "
            class="font-semibold text-xs italic text-red-500"
          >
            Field required.
          </p>
          <p
            *ngIf="
              form.hasError('passwordMismatch') &&
              form.controls['confirmPassword'].touched &&
              form.controls['confirmPassword'].value
            "
            class="font-semibold text-xs italic text-red-500"
          >
            Passwords do not match.
          </p>
        </div>
      </div>

      <button
        type="submit"
        class="bg-lime-400 flex items-center justify-center disabled:bg-green-200 w-40 disabled:text-slate-300 px-12 py-3 rounded-md text-slate-600 hover:bg-lime-700 hover:text-slate-100"
      >
        <span *ngIf="is_loading; else default"
          ><ng-container *ngTemplateOutlet="spinner"></ng-container
        ></span>
      </button>
    </form>
  </div>
</div>

<ng-template #spinner>
  <app-spinner [spinner_height]="20" [spinner_width]="20"></app-spinner>
</ng-template>

<ng-template #default>
  <span>Signup</span>
</ng-template>
