<div
  class="w-full flex flex-col p-2 justify-center items-center text-slate-700 relative"
>
  <section class="w-[70%] h-full mt-10 flex justify-end items-center">
    <div class="flex gap-4">
      <div class="relative text-slate-600">
        <button
          class="rounded-md bg-slate-300 active:bg-slate-300 px-4 py-2 hover:bg-slate-700 hover:text-white"
          (click)="toggleFilter()"
        >
          <fa-icon [icon]="filter"></fa-icon> Filter
        </button>

        <app-filters
          [carMake]="carMake"
          [carModel]="carModel"
          [carYear]="carYear"
          [isFilterHidden]="isFilterHidden"
          [isRequestComplete]="isRequestComplete"
          (selectedMake)="getCarModelByMake($event)"
          (filters)="filters($event)"
        ></app-filters>
      </div>

      <div class="relative">
        <button
          class="rounded-md bg-slate-300 active:bg-slate-300 px-4 py-2 hover:bg-slate-700 hover:text-white"
          (click)="toggleSort()"
        >
          <fa-icon [icon]="sort"></fa-icon> Sort
        </button>

        <app-sort
          *ngIf="isSortHidden"
          (sortDown)="sortDown()"
          (sortUp)="sortUp()"
        ></app-sort>
      </div>

      <div>
        <button
          class="rounded-md bg-slate-300 active:bg-slate-300 px-4 py-2 hover:bg-slate-700 hover:text-white"
          (click)="toggleModal()"
        >
          <fa-icon [icon]="plus"></fa-icon> New
        </button>
      </div>
    </div>
  </section>

  <section class="w-[70%] mt-8">
    <div class="flex w-full justify-end gap-4">
      <button [disabled]="params.page < 2">
        <fa-icon
          (click)="getCarsPreviousPage()"
          class="text-4xl cursor-pointer"
          [icon]="arrow_left"
        ></fa-icon>
      </button>
      <input
        #page_number
        (keyup.enter)="getCarswithInput(page_number.valueAsNumber)"
        type="number"
        class="outline-none border boder-slate-300 rounded-md w-10 text-center"
        [(ngModel)]="params.page"
      />
      <button [disabled]="cars.length < 1">
        <fa-icon
          (click)="getCarsNextPage()"
          class="text-4xl cursor-pointer"
          [icon]="arrow_right"
          [attr.disabled]="cars.length < 1"
        ></fa-icon>
      </button>
    </div>
  </section>

  <section class="flex flex-col">
    <div
      *ngIf="isCarRequestComplete; else spinner"
      class="flex h-full gap-4 mt-8 flex-wrap justify-center md:max-w-7xl"
    >
      <app-cars
        *ngFor="let car of cars"
        [cars]="car"
        (removeCar)="removeCar($event)"
        (updateCar)="updateCar($event)"
      ></app-cars>
    </div>
  </section>
</div>

<div *ngIf="isModalVisible">
  <app-modal (closeModal)="closeModal($event)"></app-modal>
</div>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
