<div
  class="w-full flex flex-col p-2 justify-center items-center text-slate-700 relative"
>
  <app-toast
    *ngIf="remove_success"
    toastMessage="Car Deleted"
    status="danger"
  ></app-toast>

  <app-toast
    *ngIf="add_success"
    toastMessage="Car Added"
    status="success"
  ></app-toast>

  <section class="w-[70%] h-full mt-10 flex justify-end items-center">
    <div class="flex gap-4">
      <div class="relative text-slate-600">
        <button
          class="rounded-md bg-slate-300 active:bg-slate-300 px-4 py-2 hover:bg-slate-700 hover:text-white"
          (click)="toggleFilter()"
        >
          <fa-icon [icon]="filter"></fa-icon> Filter
        </button>

        <app-filters
          [carMake]="carMake"
          [carModel]="carModel"
          [carYear]="carYear"
          [isFilterHidden]="isFilterHidden"
          [isRequestComplete]="isRequestComplete"
          (selectedMake)="getCarModelByMake($event)"
          (filters)="filters($event)"
        ></app-filters>
      </div>

      <div class="relative">
        <button
          class="rounded-md bg-slate-300 active:bg-slate-300 px-4 py-2 hover:bg-slate-700 hover:text-white"
          (click)="toggleSort()"
        >
          <fa-icon [icon]="sort"></fa-icon> Sort
        </button>

        <app-sort
          *ngIf="isSortHidden"
          (sortDown)="sortDown()"
          (sortUp)="sortUp()"
        ></app-sort>
      </div>

      <div>
        <button
          class="rounded-md bg-slate-300 active:bg-slate-300 px-4 py-2 hover:bg-slate-700 hover:text-white"
          (click)="toggleModal()"
        >
          <fa-icon [icon]="plus"></fa-icon> New
        </button>
      </div>
      <div class="relative">
        <input
          [(ngModel)]="search_term"
          (keyup.enter)="search()"
          type="text"
          placeholder="Search"
          class="p-2 border border-slate-300 rounded-md outline-none pl-8"
        />

        <fa-icon [icon]="icn_search" class="absolute left-3 top-2"></fa-icon>
      </div>
    </div>
  </section>

  <section class="w-[67%] flex justify-end mt-8">
    <p class="font-semibold text-xs text-slate-500">
      Page {{ params.page }} of {{ max_page }}
    </p>
  </section>
  <section class="w-[70%]">
    <div class="flex w-full justify-end gap-4">
      <button
        [class.text-slate-400]="params.page < 2"
        class="text-4xl cursor-pointer"
        [disabled]="params.page < 2"
        (click)="getCarsPreviousPage()"
      >
        <fa-icon [icon]="arrow_left"></fa-icon>
      </button>
      <input
        #page_number
        (keyup.enter)="getCarswithInput(page_number.valueAsNumber)"
        type="number"
        class="outline-none border boder-slate-300 rounded-md w-10 text-center"
        [(ngModel)]="params.page"
      />
      <button
        [class.text-slate-400]="params.page === max_page"
        class="text-4xl cursor-pointer"
        [disabled]="params.page === max_page"
        (click)="getCarsNextPage()"
      >
        <fa-icon [icon]="arrow_right"></fa-icon>
      </button>
    </div>
  </section>

  <section class="w-[74%] flex justify-end">
    <p class="font-semibold text-xs text-slate-500">
      Displaying {{ start }} to {{ data_length }} of {{ total }} items
    </p>
  </section>

  <section class="flex flex-col">
    <div
      *ngIf="isCarRequestComplete; else spinner"
      class="flex h-full gap-4 mt-8 flex-wrap justify-center md:max-w-7xl"
    >
      <app-cars
        *ngFor="let car of cars"
        [cars]="car"
        (removeCar)="removeCar($event)"
        (updateCar)="updateCar($event)"
      ></app-cars>

      <div *ngIf="!cars.length">
        <p class="font-semibold italic text-xl text-slate-600">
          No result found.
        </p>
      </div>
    </div>
  </section>
</div>

<div *ngIf="isModalVisible">
  <app-modal
    (closeModal)="closeModal($event)"
    (add_success)="isAddCarSuccess($event)"
  ></app-modal>
</div>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
