/* @keyframes slideRightToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
} */
/* 
@keyframes fadeOut {
  from {
    display: block;
  }
  to {
    display: none;
  }
} */

/* .animate-slide-right-to-left {
  animation: slideRightToLeft 0.8s ease-out;
} */

/* .animate-fade-out {
  animation: fadeOut 2s ease-out forwards;
} */
